<h3>Welcome {{name}} To Your Dashboard</h3>
<p>This is where you left off, start leaving bread crumbs</p>

<div class="row">
    <div class="col s12 m6">
        <form action="/breadcrumbs" method="POST" class="col s12">
            <div class="row">
                <div class="input-field">
                    <h5>What did you just do?</h5>
                    <textarea name="body" id="body"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <h5>What would you have done if you kept going?</h5>
                    <textarea name="body2" id="body2"></textarea>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Save" class="btn">
                {{!-- <a href="/dashboard" class="btn orange">Cancel</a> --}}
            </div>
        </form>
    </div>

    <div class="col s12 m6">
        <div class="row ">
            <div class="col s12 m10 offset-m2 center pomodoro">
                <h3 class="header">Pomodoro Timer</h3>
                <div class="card">
                    <div class="card-content">
                        <p>Pomodoro Timer</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class=" btn">Start</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>



<h1 class="center">Breadcrumbs</h1>
<br>
<div class="row">
    {{#each breadcrumbs}}
        <div class="col s12 m6 l6 ">
            <div class="card">
                <div class="card-image">
                    <a href="#modal1" class="btn btn-floating halfway-fab left modal-trigger">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="/breadcrumbs/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn-floating halfway-fab blue">
                        <i class="fas fa-trash fa-small"></i></button>
                    </form>
                </div>
                <div class="card-content ">
                    <h5 class="center-align">{{formatDate createdAt 'MM/D/YY, h:mm a'}}</h5>
                    <div class="divider"></div>
                    <h5>What did you just do?</h5>
                    <p>{{{ body }}}</p>
                    <br>
                    <h5>What would you have done if you kept going?</h5>
                    <p>{{{ body2 }}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" referrerpolicy="no-referrer" class="circle responsive-img img-small">
                        <a href="#">{{user.displayName}}</a>
                    </div>
                </div>
            </div>
        </div>
        

        
    {{else}}
        <p>You have not created any breadcrumbs</p>
    {{/each}}
</div>

<div id="modal1" class="modal modal-fixed-footer ">
        <div class="modal-content">
            <form action="/breadcrumbs/edit/" method="POST" class="col s12">
            <input type="hidden" name="_method" value="PUT">
                <div class="row">
                    <div class="input-field">
                        <h5>What did you just do?</h5>
                        <textarea name="body" id="body3">{{body}}</textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <h5>What would you have done if you kept going?</h5>
                        <textarea name="body2" id="body4">{{body2}}</textarea>
                    </div>
                </div>

                <div class="row">
                    {{!-- <input type="submit" value="Save" class="btn"> --}}
                    {{!-- <a href="/dashboard" class="btn orange">Cancel</a> --}}
                </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Save" class="btn modal-close">
        </div>
        </form>       
</div>
        

